<div class="container">
  <div class="row">
    <div class="col">
      <button (click)="onPopulateList()"
          class="btn btn-sm btn-outline-success">
        Populate list...
      </button>
      <button (click)="onClearList()"
          class="btn btn-sm btn-outline-danger">
        Clear list...
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <fg-list-of-persons [persons]="persons"
          (deletePerson)="onDeletePerson($event)">
      </fg-list-of-persons>
    </div>
  </div>
</div>

