<div fxLayout="column"
    class="mb-5"
    fxLayoutAlign="space-between center">

  <h1 class="display-3 text-center">
    Selling History
  </h1>

  <div class="list-of-books mt-3">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
        <div class="mat-elevation-z1 table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="clientId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
          <td mat-cell *matCellDef="let selling">
            {{ getClientName(selling.clientId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
          <td mat-cell *matCellDef="let selling">
            {{ getProductName(selling.productId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let selling">
              {{ selling.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let selling">
              {{ selling.price | currency : 'EUR' : 'symbol-narrow' : '3.2-2'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let selling">
              {{ selling.date | date }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator showFirstLastButtons
          [pageSize]="pageSizeOptions[option]"
          [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </div>
  </div>
</div>

