// https://materialuicolors.co/
$side-nav-background-color:  #009688;
$side-nav-menu-background-color: #FF9800;
$side-nav-menu-background-color-hover: #EF6C00;
$side-nav-menu-background-color-active: #E91E63;
