<mat-accordion>

  <mat-expansion-panel *ngFor="let menuElement of navigationLink">
    <mat-expansion-panel-header>
      <mat-panel-title >
        {{ menuElement.label }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item
          (click)="navigate(menuElement.path, subMenu.path)"
          *ngFor="let subMenu of menuElement.navigationLinks">
        <span>{{ subMenu.label }}</span>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

</mat-accordion>
