<div fxLayout="column"
    *ngIf="!loginError"
    fxLayoutAlign="space-between center">
  <h1 class="display-3 text-center">
    User Sign Up
  </h1>

  <form fxLayout="column"
      [formGroup]="signUpForm"
      (ngSubmit)="onSubmit()"
      fxLayoutAlign="space-between center">

    <div fxLayout="column"
        class="mat-elevation-z1 mt-3 p-5"
        fxLayoutAlign="space-between left">
      <ng-container message>
        <h6>Create a new user</h6>
      </ng-container>
      <mat-form-field>
        <input matInput
            type="text"
            placeholder="Enter your username..."
            formControlName="username">
        <mat-error *ngIf="signUpForm.get('username').hasError('forbiddenUsername')">
          Forbidden username.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('username').hasError('usernameAlreadyExists')">
          Username already exists.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('username').hasError('required')">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
            type="password"
            placeholder="Enter your password..."
            formControlName="password1">
        <mat-error *ngIf="signUpForm.get('password1').hasError('minlength')">
          Password must contain at least 8 characters.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password1').hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
            type="password"
            placeholder="Retype your password..."
            formControlName="password2">
        <mat-error>
          You have to enter the same password as above.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
            type="email"
            placeholder="Enter your email..."
            [value]="client?.email"
            formControlName="email">
        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
          You must enter a valid email.
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
            type="text"
            placeholder="Enter your phone number..."
            [value]="client?.phone"
            formControlName="phone">
        <mat-error>
          Phone is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row"
        fxLayoutGap="1rem"
        fxLayoutAlign="space-between">
      <button class="btn btn-info mt-3 mb-3"
          [disabled]="signUpForm.invalid"
          type="submit">
        Save user data
      </button>
    </div>
  </form>




</div>
