<div fxLayout="column"
    *ngIf="!loginError"
    fxLayoutAlign="space-between center">
  <h1 class="display-3 text-center">
    User Login
  </h1>
  <form fxLayout="column"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      fxLayoutGap="1rem"
      fxLayoutAlign="space-between center">

    <div fxLayout="column"
        class="mat-elevation-z1 mt-3 p-5"
        fxLayoutAlign="space-between left">
      <h6>Please enter your login data or
        <a [routerLink]="'/client/signup'">create</a> a new account
      </h6>
      <mat-form-field>
        <input matInput
          type="text"
          formControlName="username"
          placeholder="Enter your username...">
        <mat-error>Username is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
            type="password"
            formControlName="password"
            placeholder="Enter your password...">
        <mat-error>Password is required.</mat-error>
      </mat-form-field>
    </div>

    <button class="btn btn-info mt-3 mb-3"
        [disabled]="loginForm.invalid"
        type="submit">
      Login
    </button>
  </form>
</div>

<fg-login-error
  (retryLogin)="onRetryLogin()"
  *ngIf="loginError"></fg-login-error>
