mat-form-field {
  width: 20rem;
}

table {
  width: 100%;
}

.table-container {
  min-width: 960px;
}

.quantity {
  width: 3rem;
  text-align: right;
  border: none;
}

.table-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.12);
}
