<div class="container">
  <div class="row">
    <div class="col pt-2 pb-2">
      <button class="btn btn-outline-info" (click)="addOnePerson()">
        Add one person
      </button>
      <button class="btn btn-outline-info" (click)="changeOnePerson()">
        Change one person
      </button>
      <button class="btn btn-outline-danger" (click)="deleteAllPersons()">
        Delete all persons
      </button>
      <button class="btn btn-outline-danger" (click)="deleteOnePerson()">
        Delete one person
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table mat-table *ngIf="persons.length; else noPerson" [dataSource]="persons" class="mat-elevation-z3">
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let person"> {{person.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let person"> {{person.name | fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef> Birth Date </th>
          <td mat-cell *matCellDef="let person"> {{person.birthDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let person">
            {{ phone(person) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #noPerson>
  <div class="alert alert-danger text-center">
    There is no person here...
  </div>
</ng-template>

