<div fxLayout="column"
    class="mb-5"
    fxLayoutAlign="space-between center">

  <h1 class="display-1 pt-5">
    😊
  </h1>
  <h1 class="display-3 text-center mb-4">
    Wow! You are the here.
  </h1>

  <div class="container">
    <div class="row">
      <div class="col"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1rem">
        <h1>🍔</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, laudantium, blanditiis quod eaque quas tenetur
          optio itaque assumenda vel sequi numquam? Aliquid atque maiores tempore deserunt, perferendis facere veniam
          molestias ullam laboriosam sunt ex similique corporis impedit! Eos blanditiis fuga quod molestias sint minima
          soluta est quam aliquid perferendis distinctio provident impedit, officia libero ducimus!
        </p>
      </div>
      <div class="col"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1rem">
        <h1>💻</h1>
        <p>
          Quia deserunt, rem aliquam accusamus eaque maiores vitae autem voluptates reiciendis tenetur enim aspernatur
          iusto. Excepturi facilis distinctio rerum ipsam a laudantium praesentium vitae, deleniti quisquam repudiandae.
          Voluptatibus odit blanditiis, veniam architecto dignissimos aspernatur, et fuga nesciunt magnam cum adipisci
          earum, ducimus quasi amet repellendus optio? Commodi culpa repellat fugiat enim, aperiam animi. Mollitia,
          reprehenderit qui. Nulla?
        </p>
      </div>
      <div class="col"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayoutGap="1rem">
        <h1>🏖️</h1>
        <p>
          Minus at eveniet possimus tenetur doloribus fuga velit quos earum corrupti ducimus dolores est, molestias odit,
          laudantium harum illo repellat. Aspernatur, iste? Molestias quia consequatur officiis, dolore quibusdam, eveniet
          vel, in hic deleniti enim voluptatum ratione veniam qui. Sequi id cupiditate sapiente eius necessitatibus velit
          iste veniam eligendi sit voluptates. Debitis consectetur, illum voluptatem dolores suscipit recusandae.
        </p>
      </div>
      <div class="row">
        <div class="col">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit est labore in magnam id ex fuga, quasi aspernatur
          quaerat reprehenderit quia nihil aut quos recusandae cum. Deserunt est velit, laboriosam magni nihil, consequuntur
          sunt reprehenderit in quod labore a vitae. Eveniet maiores molestiae perspiciatis voluptas necessitatibus temporibus
          quibusdam, accusamus at ex nisi alias qui asperiores aperiam ad facilis doloremque, dicta beatae. Consectetur
          voluptatum accusamus, dolor officia, ab sequi facilis at atque provident odit illum quis vitae!
        </div>
      </div>
    </div>
  </div>

  <a style="text-decoration: none"
      [routerLink]="navigationLink"
      class="btn btn-link">
    <h1 class="display-4">
      {{ message }}
    </h1>
  </a>
</div>
