<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <fg-root-counter></fg-root-counter>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <fg-first-grade-operations></fg-first-grade-operations>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <fg-second-grade-operations></fg-second-grade-operations>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <fg-third-grade-operations></fg-third-grade-operations>
      <hr>
    </div>
  </div>
</div>
