.task-title {
  &:hover {
    color: #99aaff;
  }
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: lowercase;
}
.delete-button:hover {
  color: red;
}
.task-completed {
  color: #999999;
  text-decoration: line-through;
}
