<div fxLayout="row"
    fxLayoutAlign="space-between center">
  <div fxLayout="row"
      fxLayoutGap="2rem"
      fxLayoutAlign="space-between center" >
    <button mat-icon-button color="primary"
        (click)="toggleCompleted()" >
      <mat-icon *ngIf="task.completed">check_box</mat-icon>
      <mat-icon *ngIf="!task.completed">check_box_outline_blank</mat-icon>
    </button>

    <div class="task-title" [ngClass]="{'task-completed': task.completed}">
      {{ task.title }}
      <span *ngIf="task.start">
        from {{ task.start | date }} to {{ (task.end ? task.end : task.start) | date }}
      </span>
    </div>
  </div>

  <button mat-icon-button
      (click)="deleteTask()"
      class="delete-button">
    <mat-icon>close</mat-icon>
  </button>

</div>

