<kendo-scheduler [kendoSchedulerBinding]="events"
    (save)="onEventsChanged()"
    (remove)="onEventsChanged()"
    (dragEnd)="onEventsChanged()"
    (resizeEnd)="onEventsChanged()"
    [resources]="resources"
    [kendoSchedulerReactiveEditing]="createFormGroup"
    [selectedDate]="selectedDate"
    style="height: 600px;">
  <kendo-scheduler-day-view>
  </kendo-scheduler-day-view>

  <kendo-scheduler-week-view>
  </kendo-scheduler-week-view>

  <kendo-scheduler-month-view>
  </kendo-scheduler-month-view>

  <kendo-scheduler-timeline-view>
  </kendo-scheduler-timeline-view>

  <kendo-scheduler-agenda-view>
  </kendo-scheduler-agenda-view>
</kendo-scheduler>

<button class="btn btn-info"
    (click)="changeRandomEvent()">
  Change random event...
</button>
