.main {
  height: 350px;
  background-color: burlywood;
  margin: 0;
  padding: 0;
}


.one {
  background-color: brown;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 30px;
}

.two {
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 30px;
}

.three {
  background-color: lightcoral;
  color: darkblue;
  font-weight: bold;
  padding: 5px;
  margin: 30px;
}

.four {
  background-color: darkviolet;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 30px;
}
