@import './../../../../../../../.common/styles/variables.scss';


mat-list {
  mat-list-item {
    button.btn-link {
      color: white;
    }
    &:hover {
      border-radius: 0.5rem;
      background-color: lighten($side-nav-menu-background-color-active, 1%) !important;
    }
  }
  padding: 0.5rem;
  user-select: none;
  // background-color: lighten($side-nav-menu-background-color-active, 1%) !important;
}

